<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Le Tendenze</p>
		<% 6.times do |n| %>
		  <a class="panel-block">
		  	Tendenze <%= n + 1 %>
		  </a>
		<% end %>
	</nav>
</div>